<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Good Burger</title>
	<!--Google Fonts link-->
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
	<!--Bootstrap css link-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!--Bootswatch link-->
	<link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
	<!--JQuery link-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!--External Javascript-->
	<script src="/assets/js/burgers.js"></script>
	<!--External CSS-->
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<!--Font Awesome icons-->
  	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<!--Background Image-->
	<style type="text/css">
	body {
		background-image: url("/assets/img/burger.jpg");
		/*Photo by Gianna Ciaramello on Unsplash*/
		background-repeat: no-repeat;
    	background-size: cover;
	}
	</style>
</head>
	<body>
		{{{ body }}}
	</body>
</html>
