<div class="container">
  <!--Jumbotron-->
  <div class="jumbotron text-center bg-primary text-white">
    <h1 class="display-4" id="app-title">Good Burger <img src="/assets/img/cheeseburger.png"></h1>
    <p class="lead">Welcome to Good Burger. Home of the Good Burger.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card border border-primary">
        <div class="card-header bg-primary text-white">
         Can I take your order?
        </div>
        <!--Create/add burger form-->
        <div class="card-body">
          <form class="create-form">
            <div class="form-group">
              <label for="burger">Place order here:</label>
              <input type="text" class="form-control" id="burgerToGo" placeholder="">
            </div>
            <button class="btn btn-primary" type="submit">Place order</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-md-6 mt-4">
      <div class="card border border-primary">
        <div class="card-header bg-primary text-white">
         Burgers
        </div>
        <!--Div to hold burgers that have not been devoured yet-->
        <div class="card-body">
              {{#each burgers}}
                {{#unless devoured}}
                  {{> burgers/burger-block devour=false}}
                {{/unless}}
              {{/each}}
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-4">
      <div class="card devoured-card">
        <div class="card-header text-white" id="devoured-card-header">
         Devoured burgers
        </div>
        <!--When a burger has been devoured, put burger here-->
        <div class="card-body">
          {{#each burgers}}
              {{#if devoured}}
                {{> burgers/burger-devoured devour=true}}
              {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  <!--Footer-->
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card footer">
        <div class="card-body footer-body text-white">
          <h5 class="card-title text-white">Good Burger</h5>
          <p class="card-text">Welcome to Good Burger. Home of the Good Burger.</p>
          <a href="https://github.com/philipstubbs13/burger" class="btn btn-primary mr-2" target="_blank">GitHub Repo</a>
          <a href="https://www.linkedin.com/in/philipjstubbs/" class="btn btn-primary" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>
</div>






