<div class="container">
  <div class="jumbotron text-center bg-primary text-white">
    <h1 class="display-4" id="app-title">Good Burger <img src="/assets/img/cheeseburger.png"></h1>
    <p class="lead">Welcome to Good Burger. Home of the Good Burger.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
         Can I take your order?
        </div>
        <div class="card-body">
          <form class="create-form">
            <div class="form-group">
              <label for="burger">Place order here:</label>
              <input type="text" class="form-control" id="burgerToGo" placeholder="">
            </div>
            <button class="btn btn-primary" type="submit">Place order</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
         Burgers
        </div>
        <div class="card-body">
              {{#each burgers}}
                {{#unless devoured}}
                  {{> burgers/burger-block devour=false}}
                {{/unless}}
              {{/each}}
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-white" id="devoured-card-header">
         Devoured burgers
        </div>
        <div class="card-body">
          {{#each burgers}}
              {{#if devoured}}
                {{> burgers/burger-devoured devour=true}}
              {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>






