#devoured-card-header  {
    background-color: #ca341f;
}

.devoured-burger-name {
    color: #ca341f;
}

body {
    font-family: 'Righteous', cursive;
}

#app-title {
    font-size: 90px;
}

.lead {
    font-size: 24px;
}