<div class="mt-4">
	<h4>{{burger_name}}</h4>

	<button class="change-devour btn btn-primary" data-id="{{id}}" data-newdevour="{{devour}}">
		<img src="/assets/img/devour.png" width=25px height=25px" class="mr-2"> Devour me
	</button>

</div>

