<div class="mt-4">
	<h4 class="devoured-burger-name">{{burger_name}}</h4>

	<!--Throw away burger button-->
	<button class="delete-burger btn btn-primary" data-id="{{this.id}}"><i class="far fa-trash-alt"></i> Throw away</button>
</div>